{% extends 'base.html' %}
{% load static %}

{% block title %}retired page{% endblock %}

{% block content %}
    {% if user.is_superuser %}
        <a href="{% url 'add_retired' %}">add retired</a>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        {{ form }}
        <button>Search!</button>

    </form>

    <table>
        <tr>
            <th>Name</th>
            <th>Phone</th>
            <th>Birth_date</th>
            <th>Email</th>
        </tr>
        {% for retired in retireds %}
            <tr>
                <td>{{ retired.full_name }}</td>
                <td>{{ retired.phone }}</td>
                <td>{{ retired.birth_date|default_if_none:'data is not present' }}</td>
                <td>{{ retired.email }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

